
<div class="logo">
    <a class="simple-text logo-mini">
      <div class="logo-img" (click)="logout()">
          <img src="./assets/img/logo.png"/>
      </div>
    </a>
    <a class="simple-text">
        StreetLimp
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a [routerLink]="[menuItem.path]">
                <i class="now-ui-icons {{menuItem.icon}}"></i>
                <div routerLinkActive="sidebar-text-color-active" class="sidebar-text-color">{{menuItem.title}}</div>
            </a>
        </li>
    </ul>
</div>
